@font-face {
	font-family:Muli-Regular;
	src:url(../../fonts/Muli-Regular.ttf);
}
@font-face {
	font-family:Muli-Regular-Italic;
	src:url(../../fonts/Muli-Regular-Italic.ttf);
}
@font-face {
	font-family:Muli-ExtraBold;
	src:url(../../fonts/Muli-ExtraBold.ttf);
}
@font-face {
	font-family:Muli-ExtraBold-Italic;
	src:url(../../fonts/Muli-ExtraBold-Italic.ttf);
}
body, html, *
{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body, html {
	width: 100%;
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i
{
	font-weight: normal;
	font-style: normal;
}
a{
	color: inherit;
}
body.block
{
	overflow:hidden;
}

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */

main
{
	position: relative;
	width: 100%;
}

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */

/*==============================
=            COLORS            =
==============================*/

	/*----------  MAIN COLORS  ----------*/
	$colorMain_1: #65ED49; /* GREEN */
	$colorMain_2: #152D5D; /* BLUE */
	$colorMain_3: #FF8139; /* ORANGE */

	/*----------  BLUE NUANCES  ----------*/
	$colorBlueNuances_1: #081B42; /* Zodiac Blue - DARK */
	$colorBlueNuances_2: #1C3B78; /* Zodiac Blue - LIGHT */
	$colorBlueNuances_gradient: linear-gradient(96.48deg, #142B5A 3.8%, #1C3B78 92.9%); /* Zodiac Blue - DARK */

	/*----------  UI COLOR  ----------*/
	$colorUi_Text_1: #00181B; /* BLACK */
	$colorUi_Text_2: #666A6A; /* GRAY */
	$colorUi_Text_3: #FFFFFF; /* WHITE */

	$colorUi_Validation: #24AD79; /* GREEN */
	$colorUi_Error: #FB5756; /* ERROR */

	$colorUi_GreyNuance_1: #E1E1E1; /* GREY DARK */
	$colorUi_GreyNuance_2: #F5F5F5; /* GREY LIGHT */

	/*----------  HOVER  ----------*/
	$colorHover_1: #73FF56; /* GREEN */
	$colorHover_2: #EF722B; /* ORANGE */

/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

	$font_1_Regular: Muli-Regular;
	$font_1_Regular_Italic: Muli-Regular-Italic;
	$font_1_Bold: Muli-ExtraBold;
	$font_1_Bold_Italic: Muli-ExtraBold-Italic;

/*=====  End of FONTS  ======*/


/*=================================
=            TEXT SIZE            =
=================================*/

	/*----------  H1  ----------*/
		/*----------  DESKTOP  ----------*/
		$h1_textsize_desktop: 50px;
		/*----------  MOBILE  ----------*/
		$h1_textsize_mobile: 28px;


	/*----------  H2  ----------*/
		/*----------  DESKTOP  ----------*/
		$h2_textsize_desktop: 40px;
		/*----------  MOBILE  ----------*/
		$h2_textsize_mobile: 24px;


	/*----------  H3  ----------*/
		/*----------  DESKTOP  ----------*/
		$h3_textsize_desktop: 28px;
		/*----------  MOBILE  ----------*/
		$h3_textsize_mobile: 20px;


	/*----------  H4  ----------*/
		/*----------  DESKTOP  ----------*/
		$h4_textsize_desktop: 22px;
		/*----------  MOBILE  ----------*/
		$h4_textsize_mobile: 18px;


	/*----------  H5  ----------*/
		/*----------  DESKTOP  ----------*/
		$h5_textsize_desktop: 18px;
		/*----------  MOBILE  ----------*/
		$h5_textsize_mobile: 16px;


	/*----------  PARAGRAPH BIG  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphBig_textsize_desktop: 18px;
		/*----------  MOBILE  ----------*/
		$paragraphBig_textsize_mobile: 18px;


	/*----------  PARAGRAPH MEDIUM  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphMedium_textsize_desktop: 16px;
		/*----------  MOBILE  ----------*/
		$paragraphMedium_textsize_mobile: 16px;


	/*----------  PARAGRAPH SMALL  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphSmall_textsize_desktop: 14px;
		/*----------  MOBILE  ----------*/
		$paragraphSmall_textsize_mobile: 14px;


	/*----------  PARAGRAPH TINY  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphTiny_textsize_desktop: 11px;
		/*----------  MOBILE  ----------*/
		$paragraphTiny_textsize_mobile: 12px;


	/*----------  LINK  ----------*/
		/*----------  BIG  ----------*/
		$linkBig_textsize_desktop: 18px;

		/*----------  NORMAL  ----------*/
		$linkNormal_textsize_desktop: 16px;

		/*----------  SMALL  ----------*/
		$linkSmall_textsize_desktop: 14px;

/*=====  End of TEXT SIZE  ======*/


/*============================
=            GRID            =
============================*/

	$grid_desktop_1: 1200px;
	$grid_desktop_2: 1100px;
	$grid_desktop_3: 1000px;
	$grid_desktop_4: 900px;
	$grid_desktop_5: 800px;

	$grid_tablet: 100%;
	$grid_mobile: 100%;

/*=====  End of GRID  ======*/


/*===================================
=            BREAK POINT            =
===================================*/

	$breakPoint_bigDesktop: 2250px;
	$breakPoint_tablet: 1250px;
	$breakPoint_mobile: 700px;


/*=====  End of BREAK POINT  ======*/

/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

	/*----------  FUNCTION  ----------*/
	/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/

	/*----------  HEADING  ----------*/

		/*---------- COMMON ----------*/
		@mixin styleHeading_Common{
			font-family: $font_1_Bold;
		}

		/*----------  H1  ----------*/
		@mixin styleH1{
			@include styleHeading_Common;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h1_textsize_desktop;
		  		$lineHeight: $h1_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h1_textsize_mobile;
		  		$lineHeight: $h1_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}	
		}

		/*----------  H2  ----------*/
		@mixin styleH2{
			@include styleHeading_Common;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h2_textsize_desktop;
				$lineHeight: $h2_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h2_textsize_mobile;
		  		$lineHeight: $h2_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}

		}

		/*----------  H3  ----------*/
		@mixin styleH3{
			@include styleHeading_Common;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h3_textsize_desktop;
				$lineHeight: $h3_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h3_textsize_mobile;
		  		$lineHeight: $h3_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}

		/*----------  H4  ----------*/
		@mixin styleH4{
			@include styleHeading_Common;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h4_textsize_desktop;
				$lineHeight: $h4_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h4_textsize_mobile;
		  		$lineHeight: $h4_textsize_mobile * 1.3;
				line-height: $lineHeight;
			}
		}

		/*----------  H5  ----------*/
		@mixin styleH5{
			@include styleHeading_Common;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h5_textsize_desktop;
				$lineHeight: $h5_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h5_textsize_mobile;
		  		$lineHeight: $h5_textsize_mobile * 1.5;
				line-height: $lineHeight;
			}
		}


		/*----------  PARAGRAPH BIG  ----------*/
		@mixin styleParagraphBig($font){
		 	font-family: $font;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphBig_textsize_desktop;
				$lineHeight: $paragraphBig_textsize_desktop * 1.5;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphBig_textsize_mobile;
				$lineHeight: $paragraphBig_textsize_mobile * 1.5;
				line-height: $lineHeight;
			}
		}

		/*----------  PARAGRAPH MEDIUM  ----------*/
		@mixin styleParagraphMedium($font){
		 	font-family: $font;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphMedium_textsize_desktop;
				$lineHeight: $paragraphMedium_textsize_desktop * 1.5;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphMedium_textsize_mobile;
				$lineHeight: $paragraphMedium_textsize_mobile * 1.5;
				line-height: $lineHeight;
			}

		}

		/*----------  PARAGRAPH SMALL  ----------*/
		@mixin styleParagraphSmall($font){
		 	font-family: $font;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphSmall_textsize_desktop;
				$lineHeight: $paragraphSmall_textsize_desktop * 1.5;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphSmall_textsize_mobile;
				$lineHeight: $paragraphSmall_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}

		/*----------  PARAGRAPH TINY  ----------*/
		@mixin styleParagraphTiny($font){
		 	font-family: $font;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphTiny_textsize_desktop;
				$lineHeight: $paragraphTiny_textsize_desktop * 1.5;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphTiny_textsize_mobile;
				$lineHeight: $paragraphTiny_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}



	/*----------  GRID  ----------*/

		/*----------  COMMON  ----------*/
		@mixin styleGrid-common{
			margin-right: auto;
			margin-left: auto;
			@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
				width: $grid_tablet;
				padding-right: 50px;
				padding-left: 50px;
			}
			@media screen and (max-width: $breakPoint_mobile){
				width: $grid_mobile;
				padding-right: 25px;
				padding-left: 25px;
			}
		}

		/*----------  SIZE 1  ----------*/
		@mixin styleGrid1{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_1;
			}
		}

		/*----------  SIZE 2  ----------*/
		@mixin styleGrid2{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_2;
			}
		}

		/*----------  SIZE 3  ----------*/
		@mixin styleGrid3{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_3;
			}
		}

		/*----------  SIZE 4  ----------*/
		@mixin styleGrid4{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_4;
			}
		}

		/*----------  SIZE 5  ----------*/
		@mixin styleGrid5{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_5;
			}
		}


	/*----------  BUTTONS  ----------*/
	@mixin styleButton_1($size, $call, $tagline){
		cursor: pointer;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		position: relative;
		background-color: $colorMain_1;
		transition: all 0.25s ease;
		@if $size == big {
			padding: 24px;
			border-radius: 16px;
			@media screen and (max-width: $breakPoint_tablet){
				padding: 16px;
				border-radius: 8px;
			}
			
			.btn-text{
				@include styleParagraphBig($font_1_Bold);
			}
			.btn-arrow{
				height: 12px;
				margin-left: 13px;
				fill: transparent;
				stroke: $colorUi_Text_1;
				transition: all 250ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
			}
		} @else if $size == small {
			padding: 16px 24px 16px 24px;
			border-radius: 12px;
			.btn-text{
				@include styleParagraphSmall($font_1_Bold);
			}
			.btn-arrow{
				margin-bottom: -1px;
				height: 8px;
				margin-left: 12px;
				fill: transparent;
				stroke: $colorUi_Text_1;
				transition: all 250ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
				@media screen and (max-width: $breakPoint_tablet){
					height: 14px;
				}
			}
		}

		@if $call == true{
			.btn-phone{
				width: 16px;
				margin-right: 8px;
			}
		}
		@if $tagline == true{
			.btn-tagline{
				position: absolute;
				top: calc(100% + 16px);
				white-space: nowrap;
				left: 50%;
				transform: translateX(-50%);
				@include styleParagraphMedium($font_1_Bold_Italic);
			}
		}

		&:hover{
			background-color: $colorHover_1;
			.btn-arrow{
				transform: translateX(7px) scale(1.1);
			}
		}


	}

	@mixin styleButton_2{
		cursor: pointer;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		position: relative;
		
		border-radius: 12px;
		background-color: $colorMain_3;
		transition: all 0.25s ease;
		padding: 16px 24px 16px 24px;

		.btn-text{
			@include styleParagraphSmall($font_1_Bold);
			color: #FFF;
		}
		.btn-arrow{
			fill: transparent;
			stroke: #FFF;
			height: 8px;
			margin-left: 12px;
			transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
		}
		&:hover{
			background-color: $colorHover_2;
			.btn-arrow{
				transform: translateX(7px);
			}
		}
	}

	@mixin styleButton_3{
		cursor: pointer;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		position: relative;
		padding: 16px 24px 16px 24px;
		border-radius: 12px;
		border: 1px solid $colorUi_Text_1;
		transition: all 0.25s ease;
		.btn-text{
			@include styleParagraphSmall($font_1_Bold);
			transition: all 0.25s ease;
		}
		.btn-arrow{
			height: 8px;
			margin-left: 12px;
			fill: transparent;
			stroke: $colorUi_Text_1;
			transition: stroke 0.25s ease, transform 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
		}
		&:hover{
			background-color: $colorUi_Text_1;
			.btn-text{
				color: #FFF;
			}
			.btn-arrow{
				transform: translateX(7px);
				stroke: #FFF;
			}
		}
	}

	/*----------  LINKS  ----------*/
	@mixin styleLink_1{
		text-decoration: none;
		display: inline-flex;
		flex-flow: row wrap;
		align-items: center;

		.link-text{
			position: relative;
			@include styleParagraphMedium($font_1_Bold);
			&:after{
				content:'';
				position: absolute;
				left: 0px;
				bottom: 0px;
				width: 100%;
				height: 1px;
				background-color: $colorBlueNuances_1;

				opacity: 0;
				transform: scaleX(0.7);
				transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
			}
		}
		.link-arrow{
			margin-left: 16px;
			height: 8px;
			fill: transparent;
			stroke: $colorUi_Text_1;
			transition: all 0.25s ease;
			@media screen and (max-width: $breakPoint_tablet){
				height: 14px;
			}
		}

		&:hover{
			.link-text{
				&:after{
					opacity: 1;
					transform: scale(1);
				}
			}
			.link-arrow{
				transform: translateX(7px);
			}
		}
	}

	/*----------  NAV  ----------*/
	@mixin styleNav_1($arrowDirection){
		height: 50px;
		width: 50px;
		border-radius: 12px;
		border: 1px solid $colorUi_Text_1;
		position: relative;
		transition: all 0.25s ease;
		cursor: pointer;
		.nav-arrow{
			position: absolute;
			top: 50%;
			left: 50%;
			fill: transparent;
			stroke: $colorUi_Text_1;
			height: 8px;
			transition: all 0.25s ease;
			@if $arrowDirection == right {
				transform: translate(-50%, -50%);
			} @else if $arrowDirection == left {
				transform: translate(-50%, -50%) rotate(180deg);
			}
		}

		&.style-disable{
			opacity: 0.2;
			cursor: default;
		}
		&:not(.style-disable){
			&:hover{
				background-color: $colorUi_Text_1;
				.nav-arrow{
					stroke: #FFF;
				}
			}
		}
	}

	/*----------  LINE SEP  ----------*/ 
	@mixin styleLineSep{
		
		position: relative;
		&:after{
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0px;
			transform: translateX(-50%);
			height: 1px;
			background-color: $colorUi_GreyNuance_1;
			@media screen and (min-width: $breakPoint_tablet){
				width: 100%;
			}
			@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
				width: calc(100% - 100px);
			}
			@media screen and (max-width: $breakPoint_mobile){
				width: calc(100% - 50px);
			}
		}
	}

/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */


/* --------------------------------------------------------- */
/* ********************* COMMON IMPORT ********************* */
/* --------------------------------------------------------- */

@import 'header.scss';
@import 'footer.scss';

/* ------------------------------------------------------------- */
/* ********************* END COMMON IMPORT ********************* */
/* ------------------------------------------------------------- */





