@font-face {
	font-family:Muli-Regular;
	src:url(../../fonts/Muli-Regular.ttf);
}
@font-face {
	font-family:Muli-Regular-Italic;
	src:url(../../fonts/Muli-Regular-Italic.ttf);
}
@font-face {
	font-family:Muli-ExtraBold;
	src:url(../../fonts/Muli-ExtraBold.ttf);
}
@font-face {
	font-family:Muli-ExtraBold-Italic;
	src:url(../../fonts/Muli-ExtraBold-Italic.ttf);
}
body, html, *
{
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body, html {
	width: 100%;
	height: 100%;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, i
{
	font-weight: normal;
	font-style: normal;
}
a{
	color: inherit;
}
body.block
{
	overflow:hidden;
}

/* ------------------------------------------------------------- */
/* ********************* CONTAINER GENERAL ********************* */
/* ------------------------------------------------------------- */

main
{
	position: relative;
	width: 100%;
}

/* ----------------------------------------------------------------- */
/* ********************* END CONTAINER GENERAL ********************* */
/* ----------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* ********************* VARIABLES ********************* */
/* ----------------------------------------------------- */

/*==============================
=            COLORS            =
==============================*/

	/*----------  MAIN COLORS  ----------*/
	$colorMain_1: #65ED49; /* GREEN */
	$colorMain_2: #152D5D; /* BLUE */
	$colorMain_3: #FF8139; /* ORANGE */

	/*----------  BLUE NUANCES  ----------*/
	$colorBlueNuances_1: #081B42; /* Zodiac Blue - DARK */
	$colorBlueNuances_2: #1C3B78; /* Zodiac Blue - LIGHT */
	$colorBlueNuances_gradient: linear-gradient(96.48deg, #142B5A 3.8%, #1C3B78 92.9%); /* Zodiac Blue - DARK */

	/*----------  UI COLOR  ----------*/
	$colorUi_Text_1: #00181B; /* BLACK */
	$colorUi_Text_2: #666A6A; /* GRAY */
	$colorUi_Text_3: #FFFFFF; /* WHITE */

	$colorUi_Validation: #24AD79; /* GREEN */
	$colorUi_Error: #FB5756; /* ERROR */

	$colorUi_GreyNuance_1: #E1E1E1; /* GREY DARK */
	$colorUi_GreyNuance_2: #F5F5F5; /* GREY LIGHT */

	/*----------  HOVER  ----------*/
	$colorHover_1: #73FF56; /* GREEN */
	$colorHover_2: #EF722B; /* ORANGE */

/*=====  End of COLORS  ======*/


/*=============================
=            FONTS            =
=============================*/

	$font_1_Regular: Muli-Regular;
	$font_1_Regular_Italic: Muli-Regular-Italic;
	$font_1_Bold: Muli-ExtraBold;
	$font_1_Bold_Italic: Muli-ExtraBold-Italic;

/*=====  End of FONTS  ======*/


/*=================================
=            TEXT SIZE            =
=================================*/

	/*----------  H1  ----------*/
		/*----------  DESKTOP  ----------*/
		$h1_textsize_desktop: 50px;
		/*----------  MOBILE  ----------*/
		$h1_textsize_mobile: 26px;


	/*----------  H2  ----------*/
		/*----------  DESKTOP  ----------*/
		$h2_textsize_desktop: 40px;
		/*----------  MOBILE  ----------*/
		$h2_textsize_mobile: 22px;


	/*----------  H3  ----------*/
		/*----------  DESKTOP  ----------*/
		$h3_textsize_desktop: 28px;
		/*----------  MOBILE  ----------*/
		$h3_textsize_mobile: 20px;


	/*----------  H4  ----------*/
		/*----------  DESKTOP  ----------*/
		$h4_textsize_desktop: 22px;
		/*----------  MOBILE  ----------*/
		$h4_textsize_mobile: 16px;


	/*----------  H5  ----------*/
		/*----------  DESKTOP  ----------*/
		$h5_textsize_desktop: 18px;
		/*----------  MOBILE  ----------*/
		$h5_textsize_mobile: 14px;


	/*----------  PARAGRAPH BIG  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphBig_textsize_desktop: 18px;
		/*----------  MOBILE  ----------*/
		$paragraphBig_textsize_mobile: 14px;


	/*----------  PARAGRAPH MEDIUM  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphMedium_textsize_desktop: 16px;
		/*----------  MOBILE  ----------*/
		$paragraphMedium_textsize_mobile: 14px;


	/*----------  PARAGRAPH SMALL  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphSmall_textsize_desktop: 14px;
		/*----------  MOBILE  ----------*/
		$paragraphSmall_textsize_mobile: 12px;


	/*----------  PARAGRAPH TINY  ----------*/
		/*----------  DESKTOP  ----------*/
		$paragraphTiny_textsize_desktop: 11px;
		/*----------  MOBILE  ----------*/
		$paragraphTiny_textsize_mobile: 12px;


	/*----------  LINK  ----------*/
		/*----------  BIG  ----------*/
		$linkBig_textsize_desktop: 18px;

		/*----------  NORMAL  ----------*/
		$linkNormal_textsize_desktop: 16px;

		/*----------  SMALL  ----------*/
		$linkSmall_textsize_desktop: 14px;

/*=====  End of TEXT SIZE  ======*/


/*============================
=            GRID            =
============================*/

	$grid_desktop_1: 1200px;
	$grid_desktop_2: 1100px;
	$grid_desktop_3: 1000px;
	$grid_desktop_4: 900px;
	$grid_desktop_5: 800px;

	$grid_tablet: 100%;
	$grid_mobile: 100%;

/*=====  End of GRID  ======*/


/*===================================
=            BREAK POINT            =
===================================*/

	$breakPoint_tablet: 1250px;
	$breakPoint_mobile: 700px;


/*=====  End of BREAK POINT  ======*/

/* --------------------------------------------------------- */
/* ********************* END VARIABLES ********************* */
/* --------------------------------------------------------- */

/* ------------------------------------------------- */
/* ********************* MIXIN ********************* */
/* ------------------------------------------------- */

	/*----------  FUNCTION  ----------*/
	/*
	@mixin rgba-background($hexcolor, $opacity) {
	  background-color: rgba($hexcolor, $opacity); 
	}*/

	/*----------  HEADING  ----------*/

		/*---------- COMMON ----------*/
		@mixin styleHeading_Common{
			font-family: $font_1_Bold;
		}

		/*----------  H1  ----------*/
		@mixin styleH1{
			@include styleHeading_Common;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h1_textsize_desktop;
		  		$lineHeight: $h1_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h1_textsize_mobile;
		  		$lineHeight: $h1_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}	
		}

		/*----------  H2  ----------*/
		@mixin styleH2{
			@include styleHeading_Common;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h2_textsize_desktop;
				$lineHeight: $h2_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h2_textsize_mobile;
		  		$lineHeight: $h2_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}

		}

		/*----------  H3  ----------*/
		@mixin styleH3{
			@include styleHeading_Common;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h3_textsize_desktop;
				$lineHeight: $h3_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h3_textsize_mobile;
		  		$lineHeight: $h3_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}

		/*----------  H4  ----------*/
		@mixin styleH4{
			@include styleHeading_Common;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h4_textsize_desktop;
				$lineHeight: $h4_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h4_textsize_mobile;
		  		$lineHeight: $h4_textsize_mobile * 1.3;
				line-height: $lineHeight;
			}
		}

		/*----------  H5  ----------*/
		@mixin styleH5{
			@include styleHeading_Common;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $h5_textsize_desktop;
				$lineHeight: $h5_textsize_desktop * 1.3;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $h5_textsize_mobile;
		  		$lineHeight: $h5_textsize_mobile * 1.5;
				line-height: $lineHeight;
			}
		}


		/*----------  PARAGRAPH BIG  ----------*/
		@mixin styleParagraphBig($font){
		 	font-family: $font;

			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphBig_textsize_desktop;
				$lineHeight: $paragraphBig_textsize_desktop * 1.5;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphBig_textsize_mobile;
				$lineHeight: $paragraphBig_textsize_mobile * 1.5;
				line-height: $lineHeight;
			}
		}

		/*----------  PARAGRAPH MEDIUM  ----------*/
		@mixin styleParagraphMedium($font){
		 	font-family: $font;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphMedium_textsize_desktop;
				$lineHeight: $paragraphMedium_textsize_desktop * 1.5;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphMedium_textsize_mobile;
				$lineHeight: $paragraphMedium_textsize_mobile * 1.5;
				line-height: $lineHeight;
			}

		}

		/*----------  PARAGRAPH SMALL  ----------*/
		@mixin styleParagraphSmall($font){
		 	font-family: $font;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphSmall_textsize_desktop;
				$lineHeight: $paragraphSmall_textsize_desktop * 1.5;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphSmall_textsize_mobile;
				$lineHeight: $paragraphSmall_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}

		/*----------  PARAGRAPH TINY  ----------*/
		@mixin styleParagraphTiny($font){
		 	font-family: $font;
			
			@media screen and (min-width: $breakPoint_mobile){
				font-size: $paragraphTiny_textsize_desktop;
				$lineHeight: $paragraphTiny_textsize_desktop * 1.5;
				line-height: $lineHeight;
			}
			@media screen and (max-width: $breakPoint_mobile){
				font-size: $paragraphTiny_textsize_mobile;
				$lineHeight: $paragraphTiny_textsize_mobile * 1.2;
				line-height: $lineHeight;
			}
		}



	/*----------  GRID  ----------*/

		/*----------  COMMON  ----------*/
		@mixin styleGrid-common{
			margin-right: auto;
			margin-left: auto;
			@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
				width: $grid_tablet;
				padding-right: 50px;
				padding-left: 50px;
			}
			@media screen and (max-width: $breakPoint_mobile){
				width: $grid_mobile;
				padding-right: 25px;
				padding-left: 25px;
			}
		}

		/*----------  SIZE 1  ----------*/
		@mixin styleGrid1{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_1;
			}
		}

		/*----------  SIZE 2  ----------*/
		@mixin styleGrid2{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_2;
			}
		}

		/*----------  SIZE 3  ----------*/
		@mixin styleGrid3{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_3;
			}
		}

		/*----------  SIZE 4  ----------*/
		@mixin styleGrid4{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_4;
			}
		}

		/*----------  SIZE 5  ----------*/
		@mixin styleGrid5{
			@include styleGrid-common;
			@media screen and (min-width: $breakPoint_tablet){
				width: $grid_desktop_5;
			}
		}


	/*----------  BUTTONS  ----------*/
	@mixin styleButton_1($size, $call, $tagline){
		cursor: pointer;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		position: relative;
		background-color: $colorMain_1;
		transition: all 0.25s ease;
		@if $size == big {
			padding: 24px;
			border-radius: 16px;
			.btn-text{
				@include styleParagraphBig($font_1_Bold);
			}
			.btn-arrow{
				height: 12px;
				margin-left: 13px;
				fill: transparent;
				stroke: $colorUi_Text_1;
				transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
			}
		} @else if $size == small {
			padding: 16px 24px 16px 24px;
			border-radius: 12px;
			.btn-text{
				@include styleParagraphSmall($font_1_Bold);
			}
			.btn-arrow{
				height: 8px;
				margin-left: 12px;
				fill: transparent;
				stroke: $colorUi_Text_1;
				transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
			}
		}

		@if $call == true{
			.btn-phone{
				width: 16px;
				margin-right: 8px;
			}
		}
		@if $tagline == true{
			.btn-tagline{
				position: absolute;
				top: calc(100% + 16px);
				white-space: nowrap;
				left: 50%;
				transform: translateX(-50%);
				@include styleParagraphMedium($font_1_Bold_Italic);
			}
		}

		&:hover{
			background-color: $colorHover_1;
			.btn-arrow{
				transform: translateX(7px);
			}
		}
	}

	@mixin styleButton_2{
		cursor: pointer;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		position: relative;
		
		border-radius: 12px;
		background-color: $colorMain_3;
		transition: all 0.25s ease;
		padding: 16px 24px 16px 24px;

		.btn-text{
			@include styleParagraphSmall($font_1_Bold);
			color: #FFF;
		}
		.btn-arrow{
			fill: transparent;
			stroke: #FFF;
			height: 8px;
			margin-left: 12px;
			transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
		}
		&:hover{
			background-color: $colorHover_2;
			.btn-arrow{
				transform: translateX(7px);
			}
		}
	}

	@mixin styleButton_3{
		cursor: pointer;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		position: relative;
		padding: 16px 24px 16px 24px;
		border-radius: 12px;
		border: 1px solid $colorUi_Text_1;
		transition: all 0.25s ease;
		.btn-text{
			@include styleParagraphSmall($font_1_Bold);
			transition: all 0.25s ease;
		}
		.btn-arrow{
			height: 8px;
			margin-left: 12px;
			fill: transparent;
			stroke: $colorUi_Text_1;
			transition: stroke 0.25s ease, transform 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
		}
		&:hover{
			background-color: $colorUi_Text_1;
			.btn-text{
				color: #FFF;
			}
			.btn-arrow{
				transform: translateX(7px);
				stroke: #FFF;
			}
		}
	}

	/*----------  LINKS  ----------*/
	@mixin styleLink_1{
		text-decoration: none;
		display: inline-flex;
		align-items: center;

		.link-text{
			position: relative;
			@include styleParagraphMedium($font_1_Bold);
			&:after{
				content:'';
				position: absolute;
				left: 0px;
				bottom: 0px;
				width: 100%;
				height: 1px;
				background-color: $colorBlueNuances_1;

				opacity: 0;
				transform: scaleX(0.7);
				transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
			}
		}
		.link-arrow{
			margin-left: 16px;
			height: 8px;
			fill: transparent;
			stroke: $colorUi_Text_1;
		}

		&:hover{
			.link-text{
				&:after{
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}

	/*----------  LINKS  ----------*/
	@mixin styleNav_1($arrowDirection){
		height: 50px;
		width: 50px;
		border-radius: 12px;
		border: 1px solid $colorUi_Text_1;
		position: relative;
		transition: all 0.25s ease;
		cursor: pointer;
		.nav-arrow{
			position: absolute;
			top: 50%;
			left: 50%;
			fill: transparent;
			stroke: $colorUi_Text_1;
			height: 8px;
			transition: all 0.25s ease;
			@if $arrowDirection == right {
				transform: translate(-50%, -50%);
			} @else if $arrowDirection == left {
				transform: translate(-50%, -50%) rotate(180deg);
			}
		}

		&.style-disable{
			opacity: 0.2;
			cursor: default;
		}
		&:not(.style-disable){
			&:hover{
				background-color: $colorUi_Text_1;
				.nav-arrow{
					stroke: #FFF;
				}
			}
		}
	}

/* ----------------------------------------------------- */
/* ********************* END MIXIN ********************* */
/* ----------------------------------------------------- */


/* ---------------------------------------------------------- */
/* ********************* COMMON SECTION ********************* */
/* ---------------------------------------------------------- */

/*----------  SECTION COMPARE  ----------*/
.common-section_compare{
	padding-top: 112px;
	.wrapper{
		@include styleGrid1;
		border-bottom: 1px solid $colorUi_GreyNuance_1;
		padding-bottom: 54px;
	}
	.container-el{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.el{
			position: relative;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: space-between;
			margin-bottom: 80px;
			width: 550px;
			&:before{
				content:'';
				position: absolute;
				left: 50%;
				top: 50%;
				width: calc(100% + 85px);
				height: calc(100% + 80px);
				transform: translate(-50%, -50%) scale(0.9);
				opacity: 0;
				box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
				border-radius: 16px;
				transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
			}
			.icn{
				position: relative;
				padding-right: 40px;
				img{
					width: 210px;
				}
			}
			.text{
				position: relative;
				width: 300px;
				h3{
					@include styleH3;
					a {
						cursor: default;
						text-decoration: none;
					}
				}
				.text-1{
					margin-top: 8px;
					@include styleParagraphMedium($font_1_Regular);
					color: $colorUi_Text_2;
				}
				.text-2{
					margin-top: 8px;
					@include styleParagraphBig($font_1_Bold_Italic);
				}
				.arrow{
					position: absolute;
					right: 0px;
					top: 50%;
					transform: translateY(-50%);
					display: none;
					height: 10px;
					fill: transparent;
					stroke: $colorUi_Text_1;
				}
				.btn{
					margin-top: 24px;
					@include styleButton_1(small, false, false);
				}
			}

			&:hover{
				&:before{
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
				}
			}

			@media screen and (min-width: $breakPoint_tablet){
				&:nth-last-child(-n+3){
					width: 200px;
					flex-direction: column;
					justify-content: center;
					&:before{
						width: calc(100% + 80px);
					}
					.icn{
						padding: 0px;
					}
					.text{
						width: 200px;
					}
				}
			}
			
		}
	}
	.container-btn{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-top: 0px;
		.btn{
			@include styleButton_3;
		}
	}
}
@media screen and (max-width: $breakPoint_tablet){
	.common-section_compare{
		padding-top: 60px;
		.wrapper{
			padding: 0px;
			border: none;
		}
		.container-el{
			.el{
				@include styleGrid1;
				padding-top: 25px;
				padding-bottom: 25px;
				border-bottom: 1px solid $colorUi_GreyNuance_1;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				margin-bottom: 0px;
				&:before{
					content: initial;
				}
				.icn{
					margin-right: 20px;
					padding-right: 0px;
					img{
						width: 55px;
					}
				}
				.text{
					flex: 1;
					h3{
						br{
							display: none;
						}
					}
					.text-1{
						display: none;
					}
					.text-2{
						@include styleParagraphSmall($font_1_Regular);
						color: $colorUi_Text_2;
					}
					.arrow{
						display: block;
					}
					.btn{
						display: none;
					}
				}
			}
		}
		.container-btn{
			display: none;
		}
	}
}

/*----------  SECTION WHY  ----------*/
.common-section_why{
	margin-top: 185px;
	position: relative;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		border-bottom: 1px solid $colorUi_GreyNuance_1;
	}
	.container-img{
		margin-top: -60px;
		width: 525px;
		position: relative;
		img{
			position: relative;
			width: 404px;
			z-index: 1;
			opacity: 0;
			transition: all 0.5s ease;
		}	
		.path{
			position: absolute;
			left: 0px;
			top: 30px;
			width: 430px;
			fill: transparent;
			stroke: $colorUi_GreyNuance_1;

			stroke-dasharray: 1780;
			stroke-dashoffset: 1780;
			
			transition: all 2s ease;
		}
	}
	.container-text{
		width: 525px;
		h2{
			@include styleH2;
			em{
				font-family: $font_1_Bold_Italic;	
			}
		}
		.container-el{
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			margin-top: 70px;
			.el{
				width: 45%;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				margin-bottom: 50px;
				.icn{
					margin-right: 40px;
					img{
						width: 40px;
					}
				}
				h5{
					flex: 1;
					@include styleH5;
				}
			}
		}
	}

	&.style-reach{
		.container-img{
			img{
				opacity: 1;
			}
			.path{
				stroke-dashoffset: 0;
			}
		}
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	.common-section_why{
		.container-img{
			flex: 1;
			img{
				width: 100%;
			}
			.path{
				width: 80%;
			}
		}
	}
}
@media screen and (max-width: 1024px){
	.common-section_why{
		margin-top: 60px;
		.container-img{
			display: none;
		}
		.container-text{
			width: 100%;
			text-align: center;
			padding: 0px 25px 0px 25px;
			.container-el{
				justify-content: space-between;
				.el{
					width: 120px;
					flex-direction: column;;
					.icn{
						margin-right: initial;
					}
					h5{
						margin-top: 15px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 350px){
	.common-section_why{
		.container-text{
			padding: 0px;
		}
	}
}

/*----------  SECTION ACTU  ----------*/
.common-section_actu{
	margin-top: 139px;
	overflow: hidden;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0px;
		width: 100%;
		bottom: 0px;
		height: 406px;
		background-color: $colorUi_GreyNuance_2;
	}
	.wrapper{
		position: relative;
		@include styleGrid1;
		padding-bottom: 75px;
		border-bottom: 1px solid $colorUi_GreyNuance_1;
	}
	h2{
		text-align: center;
		@include styleH2;
		a {
			cursor: default;
			text-decoration: none;
		}
	}
	.container-el{
		margin-top: 75px;
		display: flex;
		align-items: flex-start;

		display: inline-flex;
		flex-wrap: nowrap;

		transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);

		.el{
			width: 390px;
			height: 510px;
			&:not(:last-child){
				margin-right: 20px;
			}
			.content{
				position: relative;
				cursor: pointer;
				border-radius: 18px;
				overflow: hidden;
				display: block;
				text-decoration: none;
				transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
				&:hover{
					transform: scale(1.05);
					.cover{
						img{
							transform: scale(1);
						}
					}
					.container-text{
						.link{
							opacity: 1;
							.link-text{
								&:after{
									opacity: 1;
									transform: scale(1);
								}
							}
						}
					}
				}
			}
			.cover{
				height: 300px;
				overflow: hidden;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
					transform: scale(1.1);
					transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
				}
			}
			.container-text{
				height: 210px;
				background-color: #FFF;
				padding: 40px;
				h4{
					@include styleH4;
					margin-bottom: 15px;
					a {
						cursor: default;
						text-decoration: none;
					}
				}
				p{
					@include styleParagraphMedium($font_1_Regular);
					color: $colorUi_Text_2;

					/* ELLIPSIS */
					display: block;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.link{
					opacity: 0;
					transition: all 0.25s ease;
					position: absolute;
					right: 43px;
					bottom: 15px;
					@include styleLink_1;
				}
			}
		}
	}

	.container-nav{
		margin-top: 70px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		position: relative;
		.nav{
			&:nth-child(1){
				@include styleNav_1(left);
				margin-right: 8px;
			}
			&:nth-child(2){
				@include styleNav_1(right);
			}
		}
		.btn{
			@include styleButton_3;
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.common-section_actu{
		margin-top: 40px;
		padding-top: 40px;
		padding-bottom: 32px;
		&:before{
			content: initial;
		}
		.wrapper{
			border: none;
			padding: 0px;
		}
		.container-el{
			@include styleGrid1;
			padding-bottom: 40px;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			.el{
				flex: 0 0 auto;
				width: 255px;
				height: 382px;
				.cover{
					height: 200px;
				}
				.container-text{
					background-color: transparent;
					padding: 28px;
					border: 1px solid $colorUi_GreyNuance_2;
					p{
						-webkit-line-clamp: 4;
					}
				}
			}
		}

		.container-nav{
			display: none;
		}
	}
}

/*----------  SECTION TRUSTPILOT  ----------*/
.common-section_trustpilot{
	background-color: $colorUi_GreyNuance_2;
	overflow: hidden;
	padding-top: 90px;
	padding-bottom: 120px;
	.wrapper{
		@include styleGrid1;
	}
	h2{
		text-align: center;
		@include styleH2;
	}
	.container-el{
		margin-top: 75px;
		display: flex;
		align-items: flex-start;

		display: inline-flex;
		flex-wrap: nowrap;

		transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);

		.el{

			&:first-child{
				width: 285px;
				margin-right: 125px;
				.title{
					@include styleH3;
					text-align: center;
				}
				.container-stars{
					margin-top: 30px;
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					width: 100%;
					.star{
						height: 52px;
						width: 52px;
						position: relative;
						background-color: $colorUi_Validation;
						img{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 32px;
						}
					}
				}
				p{
					margin-top: 42px;
					@include styleParagraphBig($font_1_Regular);
					text-align: center;
				}
				.logo{
					display: block;
					margin-top: 20px;
					text-align: center;
					img{
						width: 215px;
					}
				}
			}
			&:not(:first-child){
				width: 330px;
				height: 390px;
				position: relative;
				border-bottom: 1px solid $colorUi_GreyNuance_1;
				&:not(:last-child){
					margin-right: 60px;
				}
				.head{
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					justify-content: space-between;
					.container-stars{
						display: flex;
						flex-flow: row wrap;
						.star{
							height: 32px;
							width: 32px;
							position: relative;
							background-color: $colorUi_Validation;
							&:not(:last-child){
								margin-right: 4px;
							}
							img{
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								width: 20px;
							}
						}
					}
					.time{
						flex: 1;
						text-align: center;
						@include styleParagraphSmall($font_1_Regular);
						color: $colorUi_Text_2;
					}
				}
				.text{
					margin-top: 40px;
					.title{
						@include styleH5;

						/* ELLIPSIS */
						display: block;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					p{
						margin-top: 23px;
						@include styleParagraphBig($font_1_Regular);

						/* ELLIPSIS */
						display: block;
						display: -webkit-box;
						-webkit-line-clamp: 5;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.name{
						position: absolute;
						left: 0px;
						bottom: 10px;
						margin-top: 46px;
						@include styleParagraphBig($font_1_Regular);
						color: $colorUi_Text_2;
					}
				}

			}
			
		}
	}

	.container-nav{
		margin-top: 70px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		position: relative;
		.nav{
			&:nth-child(1){
				@include styleNav_1(left);
				margin-right: 8px;
			}
			&:nth-child(2){
				@include styleNav_1(right);
			}
		}

		.btn{
			@include styleButton_3;
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

@media screen and (max-width: $breakPoint_mobile){
	.common-section_trustpilot{
		margin-top: 40px;
		padding-top: 40px;
		padding-bottom: 32px;
		&:before{
			content: initial;
		}
		.wrapper{
			border: none;
			padding: 0px;
		}
		.container-el{
			@include styleGrid1;
			padding-bottom: 40px;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			.el{
				flex: 0 0 auto;
				&:first-child{
					width: 200px;
					margin-right: 60px;
					.container-stars{
						.star{
							width: 32px;
							height: 32px;
							img{
								width: 20px;
							}
						}
					}
					.logo{
						width: 100%;
						img{
							width: 100%;
						}
					}
				}
				&:not(:first-child){
					width: 255px;
					height: 300px;
					.cover{
						height: 200px;
					}
					.container-text{
						background-color: transparent;
						padding: 28px;
						border: 1px solid $colorUi_GreyNuance_2;
						p{
							line-clamp: 4;
						}
					}
				}
				
			}
		}

		.container-nav{
			display: none;
		}
	}
}

/*----------  SECTION HUMANS  ----------*/
.common-secton_humans{
	background-color: $colorUi_GreyNuance_1;
	padding-top: 145px;
	.wrapper{
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.container-img{
		margin-top: -60px;
		width: 715px;
		position: relative;
		img{
			position: relative;
			width: 100%;
			z-index: 1;
			opacity: 0;
			transition: all 0.5s ease;
		}
		.path{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 30px;
			width: 430px;
			fill: transparent;
			stroke: #FFF;

			stroke-dasharray: 1780;
			stroke-dashoffset: 1780;
			transition: all 2s ease;
		}
	}
	.container-text{
		width: 440px;
		h2{
			@include styleH2;
		}
		p{
			margin-top: 32px;
			@include styleParagraphBig($font_1_Regular);
			color: $colorUi_Text_2;
		}
	}

	&.style-reach{
		.container-img{
			img{
				opacity: 1;
			}
			.path{
				stroke-dashoffset: 0;
			}
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.common-secton_humans{
		padding-top: 60px;
		.container-text{
			order: 1;
		}
		.container-img{
			margin-top: 60px;
			order: 2;
			width: 100%;
			.path{
				top: 0px;
				width: 90%;
			}
		}
	}

}

/*----------  SECTION PARTENAIRES  ----------*/
.common-section_partenaires{
	padding-top: 120px;
	.wrapper{
		padding-bottom: 75px;
		@include styleGrid1;
		border-bottom: 1px solid $colorUi_GreyNuance_1;
	}
	h2{
		@include styleH2;
		text-align: center;
	}
	p{
		text-align: center;
		margin-top: 16px;
		@include styleParagraphBig($font_1_Regular);
		color: $colorUi_Text_2;
	}
	.container-el{
		margin-top: 50px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}
	.container-btn{
		margin-top: 50px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		.btn{
			@include styleButton_3;
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.common-section_partenaires{
		padding-top: 60px;
		.wrapper{
			padding-bottom: 60px;
		}
		.container-el{
			margin-top: 20px;
			.el{
				width: calc(100% / 3);
				text-align: center;
				img{
					width: 80%;
				}
				&:not(:nth-child(-n+3)){
					display: none;
				}
			}
		}
		.container-btn{
			margin-top: 20px;
		}
	}
	
}

/*----------  SECTION MAKEDIFFERENT  ----------*/
.common-section_makedifferent{
	position: relative;
	margin-top: 110px;
	padding-bottom: 120px;
	.wrapper{
		@include styleGrid4;
	}
	h2{
		@include styleH2;
		text-align: center;
	}
	.container{
		position: relative;
		margin-top: 72px;
		.path-1{
			position: absolute;
			left: -120px;
			bottom: 0px;
			width: 300px;
		}
		.path-2{
			position: absolute;
			right: -40px;
			top: 20px;
			width: 370px;
		}
		.container-comp{
			display: flex;
			flex-flow: row wrap;
			position: relative;
			z-index: 1;
			.col{
				width: 50%;
				padding: 60px 40px 40px 40px;
				transition: transform 0.25s ease;
				.container-el{
					.el{
						display: flex;
						flex-flow: row wrap;
						.icn{
							margin-right: 15px;
							img{
								width: 22px;
							}
						}
						p{
							flex: 1;
							@include styleParagraphMedium($font_1_Regular);
							em{
								font-family: $font_1_Bold;
							}
						}
						&:not(:last-child){
							margin-bottom: 38px;
						}
					}
				}
				&:nth-child(1){
					background-color: #FFF;
					border-radius: 16px 0px 0px 16px;
					border: 1px solid $colorUi_GreyNuance_1;

					h3{
						@include styleH4;
						margin-bottom: 50px;
					}
				}

				&:nth-child(2){
					border-radius: 0px 16px 16px 0px;
					background-color: $colorMain_2;	
					.logo{
						display: block;
						width: 242px;
						margin-bottom: 50px;
					}
					.container-el{
						.el{
							p{
								color: #FFF;
							}
						}
					}

				}

				&:hover{
					z-index: 1;
					transform: scale(1.05);
				}
			}
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.common-section_makedifferent{
		margin-top: 60px;
		padding-bottom: 0px;
		.wrapper{
			padding: 0px;
		}
		.container{
			margin-top: 25px;
			.container-comp{
				width: 100%;
				.col{
					width: 100%;
					padding: 0px 25px 0px 25px;
					&:nth-child(1){
						border: none;
						border-radius: 0px;
						padding-bottom: 40px;
						h3{
							text-align: center;
							margin-bottom: 30px;
						}
					}
					&:nth-child(2){
						padding-bottom: 70px;
						border-radius: 0px;
						padding-top: 40px;
						.logo{
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
			}
			.path-1{
				display: none;
			}
			.path-2{
				display: none;
			}
		}
	}
}

/*----------  SECTION QUOTES  ----------*/
.common-section_quotes{
	position: relative;
	background-color: $colorUi_GreyNuance_2;
	padding: 75px 0px 120px 0px;
	.wrapper{
		@include styleGrid1;
	}
	h2{
		@include styleH2;
		text-align: center;
		a {
			cursor: default;
			text-decoration: none;
		}
	}
	.container-el{
		margin-top: 130px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.el{
			display: none;
			text-decoration: none;
			cursor: pointer;
			width: 282px;
			position: relative;
			transition: all 0.5s ease;
			

			.content{
				height: 335px;
				display: block;
				border-bottom: 1px solid $colorUi_GreyNuance_1;
				transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
				&:before{
					content:'';
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					height: calc(100% + 80px);
					width: calc(100% + 60px);
					border-radius: 16px;
					background-color: #FFF;
					box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
					opacity: 0;
					transition: 0.5s ease;
				}

				.logo{
					margin-bottom: 45px;
					position: relative;
				}
				.text{
					position: relative;
					h3{
						@include styleH5;
						margin-bottom: 32px;
						a {
							cursor: default;
							text-decoration: none;
						}
					}
					q{
						display: block;
						@include styleParagraphMedium($font_1_Regular);
						color: $colorUi_Text_2;
					}
				}
				.link{
					opacity: 0;
					transition: all 0.25s ease;
					position: absolute;
					right: 0px;
					bottom: 0px;
					@include styleLink_1;
				}

			}

			@media screen and (min-width: $breakPoint_tablet){

				.content{
					.logo{
						opacity: 0;
						transform: translateY(10px);
						transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
					}
					.text{
						h3{
							opacity: 0;
							transform: translateY(10px);
							transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
						}
						q{
							opacity: 0;
							transform: translateY(10px);
							transition: all 500ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
						}
					}

					&:hover{
						transform: scale(1.05);
						&:before{
							opacity: 1;
						}
						.link{
							opacity: 1;
							.link-text{
								&:after{
									opacity: 1;
									transform: scale(1);
								}
							}
						}
					}
				}
				$step_el: 3;
				&:nth-child(1n + #{$step_el}){
					.content{
						.logo{
							transition-delay: 0.1s;
						}
						.text{
							h3{
								transition-delay: 0.2s;
							}
							q{
								transition-delay: 0.3s;
							}
						}
					}
					
				}
				&:nth-child(2n + #{$step_el}){
					.content{
						.logo{
							transition-delay: 0.2s;
						}
						.text{
							h3{
								transition-delay: 0.3s;
							}
							q{
								transition-delay: 0.4s;
							}
						}
					}
					
				}
				&:nth-child(3n + #{$step_el}){
					.content{
						.logo{
							transition-delay: 0.3s;
						}
						.text{
							h3{
								transition-delay: 0.4s;
							}
							q{
								transition-delay: 0.5s;
							}
						}
					}
					
				}
				
				&.displayBlock{
					display: block;
				}
				&.style-active{
					.content{
						.logo{
							transform: translateY(0px);
							opacity: 1;
						}
						.text{
							h3{
								transform: translateY(0px);
								opacity: 1;
							}
							q{
								transform: translateY(0px);
								opacity: 1;
							}
						}
					}
					
					
				}

			}
			
		}
	}

	.container-nav{
		margin-top: 70px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		position: relative;
		.nav{
			&:nth-child(1){
				@include styleNav_1(left);
				margin-right: 8px;
			}
			&:nth-child(2){
				@include styleNav_1(right);
			}
		}
		.btn{
			@include styleButton_3;
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.common-section_quotes{
		padding-top: 50px;
		padding-bottom: 50px;
		.wrapper{
			padding: 0px;
		}
		.container-el{
			padding-bottom: 30px;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			@include styleGrid1;
			margin-top: 40px;
			align-items: flex-start;
			display: inline-flex;
			flex-wrap: nowrap;
			.el{
				flex: 0 0 auto;
				display: block;
				opacity: 1;
				margin-right: 25px;
				width: 200px;
				.content{
					height: 200px;
					&:before{
						content: initial;
					}
					.logo{
						margin-bottom: 27px;
						img{
							height: 13px;
						}
					}
					.text{
						h3{
							margin-bottom: 15px;
						}
					}
				}
				
			}
		}
		.container-nav{
			margin-top: 30px;
			.nav{
				display: none;
			}
			.btn{
				position: initial;
				transform: initial;
			}
		}
	}
}

/*----------  SECTION SOUSMETIERS  ----------*/
.common-section_sousmetiers{
	position: relative;
	margin-top: 115px;
	transition: background-color 0.5s ease;
	
	h2{
		@include styleGrid1;
		@include styleH2;
		text-align: center;
	}
	.container{
		position: sticky;
		top: 150px;
		width: 100%;
		overflow: hidden;
	}
	.wrapper{
		@include styleGrid1;
	}

	.container-slider{
		margin-top: 60px;
		display: inline-flex;
		flex-wrap: nowrap;
		align-items: flex-end;

		.container-el{
			display: inline-flex;
			flex-wrap: nowrap;
			.el{
				width: 900px;
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
				justify-content: space-between;
				&:not(:last-child){
					margin-right: 165px;
				}

				.illu{
					img{
						width: 400px;
					}
				}
				.text{
					width: 390px;
					h3{
						@include styleH3;
						a {
							cursor: default;
							text-decoration: none;
						}
					}
					p{
						margin-top: 30px;
						@include styleParagraphMedium($font_1_Regular);
						color: $colorUi_Text_2;					}
					.btn{
						@include styleButton_1(small, false, false);
						margin-top: 45px;
					}
				}
				
			}
		}
	}
	.container-line{
		margin-top: 60px;
		overflow: hidden;
		width: 100%;
		height: 2px;
		background-color: $colorUi_GreyNuance_1;
		.line{
			height: 100%;
			background-color: $colorUi_Text_1;
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.common-section_sousmetiers{
		margin-top: 60px;
		.wrapper{
			padding: 0px;
		}
		.container-slider{
			margin-top: 30px;
			@include styleGrid1;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			align-items: flex-start;
			display: inline-flex;
			flex-wrap: nowrap;
			padding-bottom: 30px;
			.container-el{
				.el{
					display: block;
					width: 220px;
					&:not(:last-child){
						margin-right: 60px;
					}
					.illu{
						img{
							width: 100%;
						}
					}
					.text{
						margin-top: 40px;
						width: 100%;
					}
				}
			}
		}
		.container-line{
			display: none;
		}
	}

}

/*----------  SECTION AUTRESMETIERS  ----------*/
.common-section_autremetiers{
	margin-top: 120px;
	padding-bottom: 120px;
	.wrapper{
		@include styleGrid1;
	}
	h2{
		@include styleH2;
		text-align: center;
	}
	.container-section{
		.section{
			position: relative;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			padding: 50px 0px 50px 0px;
			border-bottom: 1px solid $colorUi_GreyNuance_1;
			.icn{
				margin-right: 20px;
				img{
					width: 80px;
				}
			}
			.text{
				padding-top: 20px;
				flex: 1;
				.title{
					position: relative;
					margin-bottom: 30px;
					h3{
						@include styleH4;
					}
					.container-status{
						display: none;
					}
				}
				
				ul{
					list-style: none;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					li{
						width: calc(100% / 3);
						margin-bottom: 35px;
					}
					a{
						@include styleLink_1;
					}
				}
			}

			
		}
	}
}

@media screen and (max-width: $breakPoint_mobile){
	.common-section_autremetiers{
		padding-bottom: 0px;
		.wrapper{
			padding: 0px;
		}
		.container-section{
			margin-top: 30px;
			.section{
				@include styleGrid1;
				padding-top: 25px;
				padding-bottom: 25px;
				.icn{
					img{
						width: 50px;
					}
				}
				.text{
					padding-top: 14px;
					.title{
						margin-bottom: 0px;
						.container-status{
							display: block;
							position: absolute;
							right: 0px;
							top: 50%;
							transform: translateY(-50%);
							height: 11px;
							width: 11px;
							transition: all 0.5s ease;
							.line{
								position: absolute;
								top: 50%;
								left: 50%;
								width: 100%;
								height: 2px;
								background-color: $colorUi_Text_1;
								transition: all 0.25s ease;
								&:nth-child(1){
									transform: translate(-50%, -50%);
								}
								&:nth-child(2){
									transform: translate(-50%, -50%) rotate(90deg);
								}
							}
						}
					}
					
					ul{
						overflow: hidden;
						height: 0px;
						li{
							width: 100%;
						}
					}
				}

				&.style-open{
					.text{
						.title{
							.container-status{
								transform: translateY(-50%) rotate(180deg);
								.line{
									&:nth-child(2){
										transform: translate(-50%, -50%) rotate(0deg);
									}
								}
							}
						}
						ul{
							margin-top: 20px;
							overflow: initial;
							height: initial;
						}
					}
				}
			}
		}
	}
}
/*----------  SECTION NEWSLETTER  ----------*/
.common-section_newsletter{
	background-color: $colorMain_2;
	padding: 65px 0px 65px 0px;
	.wrapper{
		@include styleGrid3;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}
	h2{
		width: 435px;
		@include styleH3;
		color: #FFF;
	}
	.container{
		width: 490px;
		>p{
			@include styleParagraphMedium($font_1_Regular);
			color: #FFF;
		}
		.container-input{
			margin-top: 16px;
			width: 420px;
			height: 60px;
			border-radius: 12px;
			background-color: #FFF;
			padding-right: 5px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			input{
				outline: none;
				padding-left: 20px;
				flex: 1;
				border: none;
				@include styleParagraphMedium($font_1_Regular);
				&::placeholder{
					@include styleParagraphMedium($font_1_Regular);
					color: $colorUi_Text_2;
				}
			}
			.btn{
				@include styleButton_2;
			}

		}
		.container-cg{
			margin-top: 24px;
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			input{
				margin-right: 16px;
			}
			p{
				flex: 1;
				@include styleParagraphTiny($font_1_Regular);
				color: $colorUi_GreyNuance_2;
			}
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.common-section_newsletter{
		.container{
			margin-top: 24px;
			width: 100%;
			.container-input{
				margin-top: 24px;
				width: 100%;
				input{
					width: 100px;
				}
			}
		}
	}
}

/* -------------------------------------------------------------- */
/* ********************* END COMMON SECTION ********************* */
/* -------------------------------------------------------------- */





