.common-header_desktop{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
	
	.head{
		position: relative;
		z-index: 1;
		height: 90px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		background-color: $colorUi_Text_3;	
		transition: all 0.25s ease;

		.logo{
			position: absolute;
			left: 32px;
			text-decoration: none;
			img{
				width: 186px;
				&.style-white{
					display: none;
				}
				&.style-black{
					display: block;
				}
			}
		}
		.wrapper{
			padding-left: 260px;
			
			/*
			@media screen and (min-width: 1650px){
				width: 1200px;
			}
			@media screen and (min-width: 1500px) and (max-width: 1650px){
				width: 1000px;
			}
			@media screen and (min-width: 1350px) and (max-width: 1500px){
				width: 800px;
			}
			@media screen and (min-width: 1200px) and (max-width: 1350px){
				width: 700px;
			}
			*/
			

			ul{
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				list-style: none;
				li{
					cursor: pointer;
					display: flex;
					flex-flow: row wrap;
					align-items: center;
					position: relative;
					&:not(:last-child){
						margin-right: 24px;
					}
					span{
						@include styleParagraphMedium($font_1_Bold)
					}
					.icn-arrow{
						margin-left: 8px;
						width: 7px;
						fill: $colorUi_Text_1;
					}
					@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
						.icn-arrow.img {
							background-image: url(../../img/common/icn-arrow-1-black.png);
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
							width: 10px;
							height: 20px;
						}
					}					
								
					&:after{
						content: '';
						position: absolute;
						left: 0px;
						top: calc(100% + 15px);
						width: 100%;
						height: 3px;
						background-color: $colorMain_1;
						opacity: 0;
						transform: scaleX(0);
						transition: all 500ms cubic-bezier(0.045, 0.570, 0.145, 0.995);
					}
					&:hover{
						&:after{
							opacity: 1;
							transform: scaleX(1);
						}
					}
				}
			}
		}

		.container-action{
			right: 32px;
			position: absolute;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.action-call{
				margin-right: 24px;
				text-align: right;
				a{
					display: block;
					text-decoration: none;
					@include styleParagraphMedium($font_1_Bold);
				}
				.desc-1{
					display: block;
					@include styleParagraphTiny($font_1_Regular);
				}
				.desc-2{
					display: block;
					@include styleParagraphTiny($font_1_Regular);
					opacity: 0.7;
				}
			}
			.action-login{
				.btn{
					@include styleButton_3;
				}
			}
		}
		
	}
	.container-el{
		position: relative;
		transform: translateY(-50px);
		transition: all 750ms cubic-bezier(0.065, 0.505, 0.145, 0.995);
		visibility: hidden;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		background-color: $colorUi_Text_3;
		&:before{
			position: absolute;
			top: 0px;
			right: 0px;
			background-color: $colorUi_GreyNuance_2;
			height: 100%;

			width: calc(100% + ((100vw - #{$grid_desktop_1})/2));
			width: calc((#{$grid_desktop_1} - 345px) + ((100vw - #{$grid_desktop_1})/2));
			content:'';
		}
		.el{
			position: absolute;
			top: 0px;
			left: 0px;
			visibility: hidden;
			opacity: 0;
			transition: all 250ms cubic-bezier(0.345, 0.000, 0.145, 0.995);
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			&.show{
				transition-delay: 0.25s;
				position: relative;
				visibility: visible;
				opacity: 1;
			}
			.wrapper{
				display: flex;
				flex-flow: row wrap;
				@media screen and (min-width: 1650px){
					width: 1200px;
				}
				@media screen and (min-width: 1500px) and (max-width: 1650px){
					width: 1000px;
				}
				@media screen and (min-width: 1350px) and (max-width: 1500px){
					width: 800px;
				}
			}
			.container-cdr{
				width: 345px;
				.cdr{
					padding: 50px 0px 50px 0px;
					display: flex;
					flex-flow: row wrap;
					justify-content: center;
					.icn{
						margin-right: 20px;
						img{
							width: 80px;
						}
					}
					.text{
						flex: 1;
						h2{
							@include styleH4;
						}
						.text-1{
							margin-top: 8px;
							@include styleParagraphMedium($font_1_Regular);
							color: $colorUi_Text_2;
						}
						.text-2{
							margin-top: 8px;
							@include styleH5;
						}
						.btn{
							margin-top: 24px;
							@include styleButton_1(small, false, false);
						}
					}
					&:not(:first-child){
						border-top: 1px solid $colorUi_GreyNuance_1;
					}

				}
			}
			.container-list{
				position: relative;
				padding: 50px 50px 0px 50px;
				flex: 1;
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
				justify-content: space-between;
				.list-link{
					width: 250px;
					position: relative;
					margin-bottom: 80px;
					.title{
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						.icn{
							margin-right: 16px;
							img{
								width: 54px;
							}
						}
						h3{
							flex: 1;
							@include styleH5;
						}
					}
					ul{
						margin-top: 22px;
						list-style: none;
						li{
							a{
								cursor: pointer;
								text-decoration: none;
								@include styleParagraphMedium($font_1_Regular);
								color: $colorUi_Text_2;
								&:hover{
									text-decoration: underline;
									color: $colorUi_Text_1;
								}
							}
							&:not(:last-child){
								margin-bottom: 12px;
							}
						}
					}
				}
				.container-btn{
					display: flex;
					flex-flow: row wrap;
					justify-content: flex-start;
					width: 250px;
				}
				.btn{
					@include styleButton_3;
				}
			}
		}

		&.show{
			visibility: visible;
			transform: translateY(0px);
		}
	}


	&.style-scroll{
		.head{
			background-color: $colorMain_2;
		}
		
	}
	&.style-open{
		z-index: 22;
	}

	&.style-white{
		.head{
			background-color: transparent;
			.logo{
				img{
					&.style-white{
						display: block;
					}
					&.style-black{
						display: none;
					}
				}
			}
			ul{
				li{
					span{
						color: $colorUi_Text_3;
					}
					.icn-arrow{
						fill: $colorUi_Text_3;
					}
					@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
						.icn-arrow.img {
							background-image: url(../../img/common/icn-arrow-1-white.png);
						}
					}
				}
			}
			.container-action{
				.action-call{
					a{
						color: $colorUi_Text_3;
					}
					.desc-1{
						color: $colorUi_Text_3;
					}
					.desc-2{
						color: $colorUi_Text_3;
					}
				}
				.action-login{
					.btn{
						border-color: $colorUi_Text_3;
						.btn-text{
							color: $colorUi_Text_3;
						}
						.btn-arrow{
							stroke: $colorUi_Text_3;
						}
						@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
							.btn-arrow.img {
								background-image: url(../../img/common/icn-arrow-2-white.png);
							}
						}

						&:hover{
							background-color: #FFF;
							.btn-text{
								color: $colorMain_2;
							}
							.btn-arrow{
								stroke: $colorMain_2;
							}
							@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
								.btn-arrow.img {
									background-image: url(../../img/common/icn-arrow-2-black.png);
								}
							}
						}
						
					}
				}
			}

		}
	}

}
.common-header_mobile{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 20;
	display: none;
	.head{
		height: 60px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		.action-menu{
			position: absolute;
			left: 15px;

			.text{
				overflow: hidden;
				margin-bottom: 3px;
				span{
					display: block;
					font-family: $font_1_Bold;
					font-size: 8px;
					color: #FFF;
					transition: all 500ms cubic-bezier(0.495, 0.000, 0.000, 1.000);
				}
			}
			.container-line{
				width: 24px;
				height: 10px;
				position: relative;
				transition: all 1000ms cubic-bezier(0.225, 0.000, 0.000, 1.000);
				.line{
					width: 100%;
					height: 2px;
					border-radius: 2px;
					background-color: #FFF;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					transition: all 500ms cubic-bezier(0.225, 0.000, 0.000, 1.000);
					&:nth-child(1){
						top: 0px;
					}	
					&:nth-child(2){
						bottom: 0px;
					}
				}
			}
			/*
			&.style-open{
				.text{
					span{
						transition: all 1000ms cubic-bezier(0.225, 0.000, 0.000, 1.000);
						transform: translateY(100%);
					}
				}
				.container-line{
					transform: rotate(-180deg);
					.line{
						&:nth-child(1){
							transform: translateX(-50%) translateY(4px) rotate(-45deg);
						}
						&:nth-child(2){
							transform: translateX(-50%) translateY(-4px) rotate(-135deg);
						}
					}
				}
			}
			*/
		}
		a{
			img{
				width: 170px;
			}
		}
		.phone{
			position: absolute;
			right: 15px;
			.icn-arrow{
				width: 21px;
				fill: none;
				stroke: #FFF;
			}
		}
	}
	.container-sidebar{
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 1;
		height: 100vh;
		width: 100%;
		.background{
			background-color: rgba($colorUi_Text_1, 0.2);
			position: absolute;
			left: 0px;
			top: 0px;
			height: 100%;
			width: 100%;
		}
		.sidebar{
			transform: translateX(-100%);
			transition: all 500ms cubic-bezier(0.225, 0.000, 0.000, 1.000);

			position: relative;
			z-index: 1;
			height: 100%;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			background-color: $colorUi_Text_3;
			width: 85%;
			max-width: 320px;
			.container-link{
				.link{

					padding: 17px 24px 17px 24px;
					border-bottom: 1px solid $colorUi_GreyNuance_1;
					.container-title{
						cursor: pointer;
						position: relative;
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						flex: 1;
						.icn{
							margin-right: 14px;
							img{
								width: 55px;
							}
						}
						.text{
							h3{
								@include styleH4;
							}
							p{
								@include styleParagraphMedium($font_1_Regular);
								color: $colorUi_Text_2;
							}
						}
						.container-status{
							position: absolute;
							right: 0px;
							top: 8px;
							height: 12px;
							width: 12px;
							.line{
								position: absolute;
								top: 50%;
								left: 50%;
								height: 100%;
								width: 2px;
								background-color: $colorUi_Text_1;
								transition: all 500ms cubic-bezier(0.225, 0.000, 0.000, 1.000);
								&:nth-child(1){
									transform: translate(-50%, -50%);
								}
								&:nth-child(2){
									transform: translate(-50%, -50%) rotate(90deg);
								}
							}
						}
					}
					.container-list{
						height: 0px;
						overflow: hidden;
						.btn{
							@include styleButton_1(small, false, false);
						}
						ul{
							list-style: none;
							margin-top: 24px;
							li{
								display: flex;
								flex-flow: row wrap;
								align-items: center;
								&:not(:last-child){
									margin-bottom: 20px;
								}
								a{
									flex: 1;
									text-decoration: none;
									@include styleParagraphBig($font_1_Bold);
								}
								.btn-arrow{
									height: 9px;
									fill: transparent;
									stroke: $colorUi_Text_1;
								}
							}
						}
					}

					&.style-open{
						.container-status{
							.line{
								&:nth-child(1){
									transform: translate(-50%, -50%) rotate(90deg);
								}
								&:nth-child(2){
									transform: translate(-50%, -50%) rotate(90deg);
								}
							}
						}
						.container-list{
							padding-top: 24px;
							height: initial;
						}
					}
				}
			}
			.login{
				display: block;
				padding: 17px 24px 17px 24px;
				text-decoration: none;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				.text{
					flex: 1;
					@include styleParagraphBig($font_1_Bold);
				}
				.arrow{
					height: 9px;
					fill: transparent;
					stroke: $colorUi_Text_1;
				}
			}
		}
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s ease;

		&.show{
			opacity: 1;
			visibility: visible;
			.sidebar{
				transform: translateX(0px);
			}
		}

	}
}
#common-btn_top{
	height: 70px;
	width: 70px;
	border-radius: 35px;
	position: fixed;
	z-index: 25;
	right: 32px;
	bottom: 32px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.5s ease;
	visibility: hidden;
	&:not(.style-white) {
		background-color: $colorUi_Text_1;
		.icn-arrow{
			stroke: #FFF;
		}
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {	
			.icn-arrow.img {
				background-image: url(../../img/common/icn-arrow-3-white.png);
			}
		}
	}
	&.style-white {
		background-color: $colorUi_Text_3;
		.icn-arrow{
			stroke: #000;
		}
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {	
			.icn-arrow.img {
				background-image: url(../../img/common/icn-arrow-3-black.png);
			}
		}
	}
	.icn-arrow{
		fill: transparent;
		position: absolute;
		stroke-width: 2px;
		width: 24px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {	
		.icn-arrow.img {
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			height: 15px;
		}
	}
	&:hover{
		opacity: 1;
	}
	&.style-show{
		opacity: 0.5;
		visibility: visible;
	}
}

@media screen and (max-width: $breakPoint_tablet){
	.common-header_desktop{
		display: none;
	}
	.common-header_mobile{
		display: block;
	}

	#common-btn_top{
		height: 50px;
		width: 50px;
		right: 20px;
		bottom: 160px;
		border: 20px;
		.icn-arrow{
			width: 16px;
		}
	}
}

.common-header_desktop,
.common-header_mobile{
	
}