@import 'common.scss';

/*========================================
=            PAGE SOUS METIERS           =
========================================*/


.section-cover{
	position: relative;
	padding-top: 160px;
	background: $colorBlueNuances_gradient;
	.wrapper{
		position: relative;
		@include styleGrid1;
	}
	.path {
		position: absolute;
		top: -100px;
		left: 0;
		display: flex;
		align-items: center;
		opacity: 0.7;
		span {
			display: block;
			margin-right: 10px;
			&:nth-child(even) {
				width: 5px;
				height: 3px;
				svg {
					width: 100%;
					height: 100%;
					fill: #FFFFFF;
					transform: rotate(-90deg);
				}
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					.img {
						background-image: url(../../img/common/icn-arrow-1-white.png);
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						width: 5px;
						height: 5px;
						transform: rotate(-90deg);
					}
				}
			}
			&:nth-child(odd) {
				@include styleParagraphSmall($font_1_Regular);
				color: #FFFFFF;
			}
		}
	}
	h1{
		@include styleH1;
		color: #FFF;
		em{
			font-family: $font_1_Bold_Italic;
		}
	}
	.desc{
		@include styleParagraphBig($font_1_Regular);
		color: rgba(255, 255, 255, 0.7);
	}
	.container-comp{
		position: relative;
		z-index: 1;
		margin-top: 65px;
		width: 950px;
		height: 100px;
		border-radius: 16px;
		&.active {
			border-radius: 16px 16px 16px 0;
		}
		background-color: #FFF;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		.container-input{
			position: relative;
			width: 365px;
			height: 100%;
			&:nth-child(1){
				border-right: 1px solid $colorUi_GreyNuance_2;
			}
			.input{
				width: 100%;
				height: 100%;
				.placeholder{
					position: absolute;
					left: 35px;
					top: 20px;
					@include styleParagraphSmall($font_1_Regular);
					color: $colorUi_Text_2;
					transform: translateY(50%);
				}
				input{
					border: none;
					background-color: transparent;
					outline: none;
					width: 100%;
					height: 100%;
					padding-left: 35px;
					@include styleParagraphBig($font_1_Bold);
					&::-moz-placeholder{
						line-height: 120px !important;
						color: $colorUi_Text_1;
						opacity: 1;
					}
					&::-webkit-input-placeholder {
						transform: translateY(10px);
						color: $colorUi_Text_1;
						opacity: 1;
					}
					&:-ms-input-placeholder {
						transform: translateY(10px);
						color: $colorUi_Text_1;
					}
				}
				.icn-arrow{
					position: absolute;
					right: 30px;
					top: calc(50% + 7px);
					width: 12px;
					fill: $colorUi_Text_1;
					@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
						&.img {
							background-image: url(../../img/common/icn-arrow-1-black.png);
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
							width: 12px;
							height: 10px;
						}
					}
				}
			}
			.dropdown{
				visibility: hidden;
				opacity: 0;
				transform: translateY(-30px);
				transition: all 250ms cubic-bezier(0.000, 0.840, 0.770, 0.995);
				position: absolute;
				left: 0px;
				width: 100%;
				background-color: #FFF;
				box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
				border-radius: 0px 0px 16px 16px;
				&:before{
					content:'';	
					width: calc(100% - 70px);
					height: 1px;
					background-color: $colorUi_GreyNuance_1;
					position: absolute;
					left: 50%;
					top: 0px;
					transform: translateX(-50%);
				}
				.container-el{
					max-height: 220px;
					overflow: auto;
					-webkit-overflow-scrolling: touch;
					padding: 35px;

					.el{
						width: 100%;
						justify-content: space-between;
						
						&:not(:last-child){
							margin-bottom: 12px;
						}
						@include styleLink_1;
						.link-text{
							font-family: $font_1_Regular;
							color: $colorUi_Text_2;
						}
					}
				}
			}

			&.style-open{
				.dropdown{
					transition: all 500ms cubic-bezier(0.000, 0.840, 0.770, 0.995);
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			}
		}
		.btn{
			margin-left: 40px;
			@include styleButton_1(big, false, false);
		}
	}
	.container-trustpilot{
		margin-top: 80px;
		img{
			width: 130px;
		}
		.container-stars{
			margin-top: 20px;
			width: 200px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			.star{
				position: relative;
				height: 36px;
				width: 36px;
				background-color: $colorUi_Validation;
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 22px;
				}
			}
		}
		p{
			margin-top: 12px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			span{
				@include styleParagraphSmall($font_1_Regular);
				color: #FFF;
				em{
					font-style: normal;
					font-family: $font_1_Bold;
				}
				&:nth-child(1){
					border-right: 1px solid #FFF;
					padding-right: 10px;
					margin-right: 10px;
				}
			}
		}
	}
	nav{
		margin-top: 55px;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		width: 100%;
		height: 85px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		ul{
			width: 100%;
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			a{
				@include styleLink_1;
				align-items: baseline;
				.link-text{
					color: #FFF;
					@include styleParagraphSmall($font_1_Bold);
					&:after{
						background-color: #FFF;
					}
				}
				.link-arrow{
					stroke: #FFF;
					@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none) {
						&.img {
    						background-image: url(../../img/common/icn-arrow-2-white.png);
						}
					}
				}
			}
		}
	}
	.illu-1{
		position: absolute;
		right: 0px;
		bottom: 84px;
		width: 470px;
	}
}

.section-howitwork{
	.wrapper{
		padding: 72px 0px 72px 0px;
		@include styleGrid1;
		@include styleLineSep;
	}
	h2{
		@include styleH2;
		color: $colorUi_Text_1;
		text-align: center;
	}
	.container-el{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		margin-top: 70px;
		.el{
			width: 240px;
			text-align: center;
			.icn{
				img{
					width: 80px;
				}
			}
			p{
				margin-top: 25px;
				@include styleH5;
			}
		}
	}
}

.section-compare{
	padding: 120px 0px 120px 0px;
	position: relative;
	.wrapper{
		@include styleGrid1;
	}
	h2{
		@include styleH2;
		color: $colorUi_Text_1;
		text-align: center;
	}
	.container-el{
		margin-top: 72px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.el{
			width: 245px;
			text-align: center;
			.icn{
				img{
					height: 25px;
				}
			}
			p{
				margin-top: 25px;
				@include styleH5;
			}
		}
	}
	.container-btn{
		text-align: center;
		margin-top: 72px;
		.btn{
			@include styleButton_1(small, false, true);
		}
	}
}

.section-simulation{
	padding-top: 120px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 649px;
		background-color: $colorUi_GreyNuance_2;
	}
	.wrapper{
		position: relative;
		@include styleGrid1;
	}
	h2{
		@include styleH2;
		text-align: center;
		color: $colorUi_Text_1;
	}
	.container-el{
		margin-top: 72px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.el{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.icn{
				img{
					width: 80px;
				}
			}
			p{
				margin-left: 32px;
				@include styleH4;
			}
		}
	}
	.banner{
		position: relative;
		margin-top: 120px;
		padding: 120px 0px 140px 0px;
		width: 100%;
		border-radius: 16px;
		background-color: $colorMain_2;
		h3{
			text-align: center;
			@include styleH2;
			color: #FFF;
			em{
				@include styleH1;
				font-family: $font_1_Bold_Italic;
			}
		}
		.container-btn{
			margin-top: 22px;
			text-align: center;
			.btn{
				@include styleButton_1(small, false, true);
				.btn-tagline{
					color: #FFF;
				}
			}
		}
		.path-1{
			width: 210px;
			position: absolute;
			left: 0px;
			bottom: 50px;
		}
	}

	&.style-onlybanner{
		padding-top: 0px;
		&:before{
			content: initial;
		}
		.banner{
			margin-top: 60px;
		}

	}
}

.section-seo{
	padding-top: 120px;
	padding-bottom: 120px;
	.wrapper{
		position: relative;
		@include styleGrid1;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
		&:after{
			content: '';
			position: absolute;
			left: 0px;
			bottom: -120px;
			width: 100%;
			height: 1px;
			background-color: $colorUi_GreyNuance_1;
		}
	}
	.container-text{
		width: 485px;
		h2{
			@include styleH2;
			color: $colorUi_Text_1;
		}
		p{
			margin-top: 32px;
			@include styleParagraphMedium($font_1_Regular);
			color: $colorUi_Text_2;
		}
	}
	.container-illu{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 470px;
		img{
			width: 100%;
		}
		.btn{
			margin-top: 50px;
			@include styleButton_1(small, false, false);
		}
	}
}

@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	.section-cover{
		.container-comp {
			width: 550px;
			.container-input {
				border-radius: 16px;
				&:nth-child(1) {
					border-right: none;
				}
				&:nth-child(2) {
					display: none;
				}
			}
			.btn {
				margin-left: 0;
			}
		}
		.illu-1 {
			right: 20px;
			bottom: -36px;
		}
		nav {
			display: none;
		}
	}

	.section-simulation{
		.banner{
			width: calc( 100% + 100px);
			transform: translateX(-50px);
		}
	}
}

@media screen and (max-width: $breakPoint_tablet){

	.section-cover{
		padding-bottom: 35px;
		.path {
			position: relative;
			width: 100%;
			top: 0px;
			left: 0px;
			order: 1;
		}
		h1 {
			margin-top: 25px;
		}
		nav {
			display: none;
		}
	}

	.section-howitwork{
		.wrapper{
			padding: 60px 0px 60px 0px;
		}
		.container-el{
			margin-top: 40px;
			.el{
				width: calc(50% - 10px);
				&:nth-last-child(1n + 3) {
					margin-bottom: 30px;
				}
				p{
					margin-top: 16px;
				}
			}
		}
	}

	.section-compare{
		padding: 60px 0px 100px 0px;
		.container-el{
			margin-top: 37px;
			.el{
				width: calc(50% - 10px);
				&:nth-last-child(1n + 3) {
					margin-bottom: 25px;
				}
				p{
					margin-top: 15px;
				}
			}
		}
		.container-btn{
			margin-top: 35px;
		}
	}

	.section-simulation{
		padding-top: 60px;
		.container-el{
			margin-top: 37px;
			.el{
				position: relative;
				margin-bottom: 22px;
				width: 100%;
				&:before {
					content: " ";
					position: absolute;
					top: 50%;
					right: 20px;
					width: 10px;
					height: 13px;
					transform: translateY(-50%);

					background-image: url(../../img/common/icn-arrow-2-black.png);
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}
				&:not(:first-child) {
					margin-top: 23px;
				}
				&:not(:last-child) {
					&:after {
						content: " ";
						position: absolute;
						bottom: -23px;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: $colorUi_GreyNuance_1;
					}
				}
				.icn{
					img{
						width: 55px;
					}
				}
			}
		}
		.banner{
			padding: 120px 0px 100px 0px;
			margin-top: 0px;
			border-radius: 0;
			.path-1{
				width: 150px;
				bottom: auto;
				top: 30px;
			}
		}
	}

	.section-seo{
		padding-top: 60px;
		padding-bottom: 60px;
		.wrapper {
			justify-content: center;
			&:after{
				display: none;
			}
		}
		.container-text{
			width: 100%;
			h2{
				text-align: center;
			}
		}
		.container-illu{
			margin-top: 40px;
		}
	}

}

@media screen and (max-width: $breakPoint_mobile){
	.section-cover{
		padding-top: 70px;
		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		h1 {
			margin-top: 25px;
			text-align: center;
			order: 2;
		}
		.desc {
			margin-top: 10px;
			text-align: center;
			order: 3;
		}
		.container-comp {
			order: 4;
			margin-top: 20px;
			width: 100%;
			height: auto;
			background-color: transparent;
			&.active {
				.container-input {
					border-radius: 16px 16px 0 0;	
				}
			}
			.container-input {
				position: relative;
				z-index: 2;
				width: 100%;
				height: 100px;
				background-color: #FFF;
				border-radius: 16px;
				&:nth-child(1) {
					border-right: none;
				}
				&:nth-child(2) {
					display: none;
				}
			}
			.btn {
				position: relative;
				z-index: 1;
				margin-top: 10px;
				margin-left: 0;
				border-radius: 16px;
				width: 100%;
				justify-content: center;
			}
		}
		.illu-1 {
			margin-top: 27px;
			order: 5;
			position: relative;
			bottom: 0;
			width: 293px;
			height: 276px;
		}
		.container-trustpilot {
			position: relative;
			margin-top: 38px;
			order: 6;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			&:before {
				content: " ";
				position: absolute;
				top: -38px;
				left: 0;
				width: 100%;
				height: 1px;
				opacity: .15;
				background-color: #FFFFFF;
			}
			> img {
				margin-top: 15px;
				order: 3;
			}
			.container-stars {
				margin-top: 15px;
				order: 2;
			}
			p {
				order: 1;
			}
		}
		nav {
			order: 7;
		}
	}

	.section-simulation{
		.banner{
			width: calc( 100% + 50px);
			transform: translateX(-25px);
		}
	}

	.section-seo{
		.container-illu{
			margin-top: 25px;
			width: 100%;
			img{
				width: 100%;
			}
			.btn{
				margin-top: 40px;
			}
		}
	}
}

@import 'style-common-section_compare.scss';
@import 'style-common-section_why.scss';
@import 'style-common-section_actu.scss';
@import 'style-common-section_trustpilot.scss';
@import 'style-common-section_humans.scss';
@import 'style-common-section_partenaires.scss';
@import 'style-common-section_autremetiers.scss';
@import 'style-common-section_faq.scss';
@import 'style-common-section_newsletter.scss';
@import 'style-common-section_knoweverything.scss';

/*============================================
=            END PAGE SOUS METIERS           =
============================================*/