/*----------  SECTION NEWSLETTER  ----------*/
.common-section_newsletter{
	background-color: $colorMain_2;
	padding: 65px 0px 65px 0px;
	.wrapper{
		@include styleGrid3;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
	}
	h2{
		width: 435px;
		@include styleH3;
		color: #FFF;
	}
	.container{
		width: 490px;
		>p{
			@include styleParagraphMedium($font_1_Regular);
			color: rgba(255, 255, 255, 0.7);
		}
		.container-input{
			margin-top: 16px;
		}
		@include styleFormNewsletter;
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	.common-section_newsletter{
		h2{
			width: 500px;
			margin: auto;
		}
		.container{
			width: 500px;
			margin: auto;
			margin-top: 40px;
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.common-section_newsletter{
		.container{
			margin-top: 24px;
			width: 100%;
			.container-input{
				margin-top: 24px;
			}
		}
	}
}