/*----------  SECTION SOUSMETIERS  ----------*/
.common-section_sousmetiers{
	position: relative;
	margin-top: 115px;
	transition: background-color 0.5s ease;
	
	h2{
		@include styleGrid1;
		@include styleH2;
		text-align: center;
	}
	.container{
		position: sticky;
		&.fixed {
			position: fixed;
		}
		&.absolute {
			position: absolute;
		}
		
		width: 100%;
		overflow: hidden;
	}
	.wrapper{
		@include styleGrid1;
	}

	.container-slider{
		margin-top: 60px;
		display: inline-flex;
		flex-wrap: nowrap;
		align-items: flex-end;

		.container-el{

			display: inline-flex;
			align-items: flex-start;
			flex-wrap: nowrap;

			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				display: block;
				white-space: nowrap;
			}

			.el{
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					display: inline-block;
					white-space: normal;
				}
				&:not(:last-child){
					margin-right: 165px;
				}
				.content {
					width: 900px;
					display: flex;
					flex-flow: row wrap;
					align-items: flex-start;
					justify-content: space-between;

					.illu{
						img{
							width: 400px;
						}
					}
					.text{
						white-space: normal;
						width: 390px;
						h3{
							@include styleH3;
							a {
								cursor: default;
								text-decoration: none;
							}
						}
						p{
							margin-top: 30px;
							@include styleParagraphMedium($font_1_Regular);
							color: $colorUi_Text_2;					}
						.btn{
							@include styleButton_1(small, false, false);
							margin-top: 45px;
						}
					}
				}
			}
		}
	}
	.container-line{
		margin-top: 60px;
		overflow: hidden;
		width: 100%;
		height: 2px;
		background-color: $colorUi_GreyNuance_1;
		.line{
			height: 100%;
			background-color: $colorUi_Text_1;
		}
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			display: none;
		}
	}
}
@media screen and (min-width: $breakPoint_bigDesktop){
	.common-section_sousmetiers {
		h2 {
			position: sticky;
			top: 150px;
		}
		.container {
			top: 225px;
		}
	}
}
@media screen and (min-width: 1700px) and (max-width: $breakPoint_bigDesktop){
	.common-section_sousmetiers{
		.container{
			top: 150px;
		}
		.container-line{
			margin-top: 30px;
		}
	}
	
}
@media screen and (min-width: $breakPoint_tablet) and (max-width: 1700px){
	.common-section_sousmetiers{
		.container{
			top: 100px;
		}
		.container-line{
			margin-top: 10px;
		}
	}
	
}
@media screen and (max-width: $breakPoint_tablet){
	.common-section_sousmetiers{
		margin-top: 60px;
		.wrapper{
			padding: 0px;
		}
		.container-slider{
			margin-top: 30px;
			@include styleGrid1;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			align-items: flex-start;
			display: inline-flex;
			flex-wrap: nowrap;
			padding-bottom: 30px;
			.container-el{
				.el{
					&:not(:last-child){
						margin-right: 60px;
					}
					&:last-child{
						margin-right: 60px;
					}
					.content {
						display: block;
						.illu{
							img{
								width: 100%;
							}
						}
						.text{
							margin-top: 40px;
							width: 100%;
						}
					}
				}
			}
		}
		.container-line{
			display: none;
		}
	}
}
@media screen and (min-width: $breakPoint_mobile) and (max-width: $breakPoint_tablet){
	.common-section_sousmetiers{
		.container-slider{
			.container-el{
				.el{
					&:not(:last-child){
						margin-right: 100px;
					}
					.content {
						width: 300px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $breakPoint_mobile){
	.common-section_sousmetiers{
		.container-slider{
			.container-el{
				.el{
					&:not(:last-child){
						margin-right: 45px;
					}
					.content {
						width: 230px;
						.text{
							p{
								@include styleParagraphSmall($font_1_Regular);
							}
							.btn .btn-arrow{
								height: 20px;
							}
						}
					}
				}
			}
		}
	}
}